# Tahmine dayalı değer atam yöntemleri

In [22]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["float64","int64"])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [23]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [24]:
#makine öğrenmesi yöntemlerini kullanarak eksik değer ataması yapacağız

In [58]:
!pip install ycimpute

Requirement already satisfied: ycimpute in c:\users\alper\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: six in c:\users\alper\anaconda3\lib\site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in c:\users\alper\anaconda3\lib\site-packages (from ycimpute) (1.24.3)
Requirement already satisfied: scipy in c:\users\alper\anaconda3\lib\site-packages (from ycimpute) (1.11.1)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\alper\anaconda3\lib\site-packages (from ycimpute) (1.3.0)
Requirement already satisfied: torch>=1.1.0 in c:\users\alper\anaconda3\lib\site-packages (from ycimpute) (2.2.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\alper\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\alper\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: filelock in c:\users\alper\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (3.9.0)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\alper\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (4.10.0)
Requirement already satisfied: sympy in c:\users\alper\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (1.11.1)
Requirement already satisfied: networkx in c:\users\alper\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (3.1)
Requirement already satisfied: jinja2 in c:\users\alper\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (3.1.2)
Requirement already satisfied: fsspec in c:\users\alper\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (2023.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\alper\anaconda3\lib\site-packages (from jinja2->torch>=1.1.0->ycimpute) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\alper\anaconda3\lib\site-packages (from sympy->torch>=1.1.0->ycimpute) (1.3.0)

In [59]:
#knnimput makine öğrenmesi yöntemidir
from ycimpute.imputer import knnimput,iterforest

In [60]:
#df isimlerini tutma işlemi yaptık
var_name=df.columns

In [61]:
var_name

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

In [62]:
#df değerlerini numpy arrayin içine attık
n_df=np.array(df)

In [63]:
n_df

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 0.    ,  3.    ,     nan,  1.    ,  2.    , 23.45  ],
       [ 1.    ,  1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 0.    ,  3.    , 32.    ,  0.    ,  0.    ,  7.75  ]])

In [64]:
#k degeri komşuluk sayısını temsil eder
#complete doldur işlemini yaptı ve eksik olan değerleri tahmin yöntemi ile doldurdu
dff=knnimput.KNN(k=4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.110
Imputing row 101/891 with 0 missing, elapsed time: 0.110
Imputing row 201/891 with 0 missing, elapsed time: 0.110
Imputing row 301/891 with 1 missing, elapsed time: 0.110
Imputing row 401/891 with 0 missing, elapsed time: 0.110
Imputing row 501/891 with 0 missing, elapsed time: 0.110
Imputing row 601/891 with 0 missing, elapsed time: 0.110
Imputing row 701/891 with 0 missing, elapsed time: 0.110
Imputing row 801/891 with 0 missing, elapsed time: 0.110

In [65]:
type(dff)

numpy.ndarray

In [66]:
dff=pd.DataFrame(dff,columns=var_name)

In [67]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  26.026414    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [68]:
#eksik deger kalmadı
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

# Random forests ile doldurma işlemi

In [69]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["float64","int64"])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [70]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [71]:
var_name=df.columns

In [72]:
var_name

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

In [73]:
n_df=np.array(df)

In [74]:
n_df

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 0.    ,  3.    ,     nan,  1.    ,  2.    , 23.45  ],
       [ 1.    ,  1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 0.    ,  3.    , 32.    ,  0.    ,  0.    ,  7.75  ]])

In [ ]:
from ycimpute.imputer import iterforest
dff=iterforest.IterImput().complete(n_df)

In [81]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["float64","int64"])

# EM

In [82]:
from ycimpute.imputer import EM

In [83]:
dff=EM().complete(n_df)

In [84]:
dff=pd.DataFrame(dff,columns=var_name)

In [85]:
dff

     survived  pclass   age  sibsp  parch     fare
0         0.0     3.0  22.0    1.0    0.0   7.2500
1         1.0     1.0  38.0    1.0    0.0  71.2833
2         1.0     3.0  26.0    0.0    0.0   7.9250
3         1.0     1.0  35.0    1.0    0.0  53.1000
4         0.0     3.0  35.0    0.0    0.0   8.0500
..        ...     ...   ...    ...    ...      ...
886       0.0     2.0  27.0    0.0    0.0  13.0000
887       1.0     1.0  19.0    0.0    0.0  30.0000
888       0.0     3.0   0.0    1.0    2.0  23.4500
889       1.0     1.0  26.0    0.0    0.0  30.0000
890       0.0     3.0  32.0    0.0    0.0   7.7500

[891 rows x 6 columns]

In [86]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64