# Kategorik Değişken Kırılımında Değer Atama

In [1]:
import pandas as pd
import numpy as np

In [2]:
v1=np.array([1,3,6,np.nan,7,1,np.nan,9,15])
v2=np.array([7,np.nan,5,8,12,np.nan,np.nan,2,3])
v3=np.array([np.nan,12,5,6,14,7,np.nan,2,31])
v4=np.array(["IT","IT","İK","İK","İK","İK","İK","IT","IT"])

In [3]:
df=pd.DataFrame({"maaş":v1,
                "v2":v2,
                "v3":v3,
                "departman":v4})

In [4]:
df

   maaş    v2    v3 departman
0   1.0   7.0   NaN        IT
1   3.0   NaN  12.0        IT
2   6.0   5.0   5.0        İK
3   NaN   8.0   6.0        İK
4   7.0  12.0  14.0        İK
5   1.0   NaN   7.0        İK
6   NaN   NaN   NaN        İK
7   9.0   2.0   2.0        IT
8  15.0   3.0  31.0        IT

In [5]:
#departmanlara göre maaş ortalamalrına bakalım

In [14]:
df.groupby("departman")["maaş"].mean()

departman
IT    7.000000
İK    4.666667
Name: maaş, dtype: float64

In [21]:
df.groupby("departman")["maaş"].sum().mean()

21.0

In [15]:
df["maaş"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: maaş, dtype: float64

In [16]:
#nan ifadelerini doldurmak istiyoruz

In [22]:
df["maaş"].fillna(df.groupby("departman")["maaş"].transform("mean"))

0     1.000000
1     3.000000
2     6.000000
3     4.666667
4     7.000000
5     1.000000
6     4.666667
7     9.000000
8    15.000000
Name: maaş, dtype: float64

In [ ]:
#nan olan degerleri departman üzerinden ortalamarla doldurduk.transform işlemiyle