# Kategorik değerlerde eksik giderme

In [13]:
import pandas as pd
import numpy as np

In [14]:
v1=np.array([1,3,6,np.nan,7,1,np.nan,9,15])
v4=np.array(["IT",np.nan,"İK","İK","İK","İK","İK","IT","IT"],dtype=object)

In [15]:
df=pd.DataFrame({"maaş":v1,
                "departman":v4})

In [16]:
df

   maaş departman
0   1.0        IT
1   3.0       NaN
2   6.0        İK
3   NaN        İK
4   7.0        İK
5   1.0        İK
6   NaN        İK
7   9.0        IT
8  15.0        IT

In [17]:
df["departman"].fillna(df["departman"].mode()[0])

0    IT
1    İK
2    İK
3    İK
4    İK
5    İK
6    İK
7    IT
8    IT
Name: departman, dtype: object

In [ ]:
#departmandaki eksik deger yerine departmanın modunu atadık

In [18]:
df["departman"].fillna(method="bfill")

0    IT
1    İK
2    İK
3    İK
4    İK
5    İK
6    İK
7    IT
8    IT
Name: departman, dtype: object

In [19]:
#eksik degeri bfill methodu ile sonradındaki degeri atadık

In [20]:
df["departman"].fillna(method="ffill")

0    IT
1    IT
2    İK
3    İK
4    İK
5    İK
6    İK
7    IT
8    IT
Name: departman, dtype: object

In [ ]:
#kendisinden bir önceki deger ile doldurma işlemi yaptık